body {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  background-repeat: no-repeat;
  background-size: 100% 120%;
}

.login-box {
  margin: 160px auto;
  width: 480px;
  height: 284px;
  background-color: rgba(0, 0, 0, 0.212);
  border-radius: 5px;
}

.login-box .login-text>h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  font: 3em Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, 微软雅黑, tahoma, simsun, 宋体;

}

.login-box .login-text {
  padding-top: 6px;
}

.input {
  width: 240px;
  height: 34px;
  color: azure;
  margin-bottom: 7px;
  border: none;
  border-bottom: 3px solid #ace0f9;
  outline: none;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
}

.inputBox {
  text-align: center;

}

.login-btn {
  text-align: center;
}

.login-btn button {
  margin-top: 6px;
  width: 246px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-image: linear-gradient(-225deg, #20E2D7 0%, #F9FEA5 100%);
  transition-duration: 0.4s;
}

.login-btn button:hover {
  background-image: linear-gradient(-225deg, #F9FEA5 0%, #20E2D7 100%);
  transition-duration: 0.4s;
}

button:active {
  background-image: linear-gradient(-225deg, #20E2D7 0%, #F9FEA5 100%);
  box-shadow: 0 5px rgb(134, 134, 134);
  transform: translateY(4px);
}